@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tommy:hover {
  transform: scale(1.2);
}

.nameSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 4vmin;
  height: 90vh;
  width: 100%;
  background: url(/pexels-daniel-putzer-638317.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #3a3535;
}

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-family: "Kay Pho Du", serif;
  font-size: 6vw;
  width: 100%;
  z-index: 2;

  .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  /* // start */
  .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.title-inner:hover {
  color: white;
}

h1 {
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "/";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #706e6e, 0 0 20px #ffffff, 0 0 40px #4e4949;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105%;
}
.formInput {
  display: flex;
  border: none;
  outline: none;
  gap: 2rem;
}
.formInput input {
  display: flex;
  width: 25rem;
  flex: 1;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput textarea {
  display: flex;
  width: 25rem;
  height: 20vh;
  flex: 1;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput input:hover {
  transform: scale(1.005);
}

form button {
  padding: 0.5rem 2rem;
  color: white;
  background: none;
  border: none;
  border-radius: 1rem;
}
form button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.164);
}
