@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navContainer a {
  display: none;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(10px);
}

.navbar-brand a {
  font-size: 1.8rem;
  font-weight: bold;
}

/* SideBar */
.sideBar {
  display: flex;
  align-items: center;
  width: 50px;
  margin-left: 1rem;
  gap: 1rem;
  line-height: px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.sideBar {
  writing-mode: vertical-rl;
}

/* Landingpage */
.textContainer {
  margin-left: 10rem;
  cursor: pointer;
}

#h1 {
  font-size: 150px;
  font-weight: 900;
  color: #fff;
}
#h2 {
  font-size: 150px;
  font-weight: 900;
  color: red;
}
#h3 {
  font-size: 150px;
  font-weight: 900;
  color: red;
}

.hide {
  display: none;
}

/* About & contact page */
.aboutContainer {
  padding-bottom: 10rem;
}
.gap {
  gap: 5rem;
}
.name a span {
  letter-spacing: 2px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: 0.5s linear;
  text-decoration: none;
}

.name a:hover span:nth-child(1):after {
  content: "owolabi";
}
.name a:hover span:nth-child(2) {
  margin-left: 30px;
}
.name a:hover span {
  color: #fff;
}
.aboutH1 {
  height: 100vh;
}
.aboutH1 h1 {
  font-size: 100px;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutText {
  color: #fff;
}
.aboutText h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 8rem;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutTextP {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1rem;
  line-height: 2rem;
  font-size: 19px;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutTextP1 {
  font-size: 30px;
}
.aboutTextA {
  color: green;
  text-decoration: none;
}
.aboutTextA:hover {
  color: rgb(163, 221, 163);
  align-items: end;
}

.formInput {
  display: flex;
  border: none;
  outline: none;
  gap: 2rem;
}
.formInput input {
  display: flex;
  width: 100%;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput textarea {
  display: flex;
  width: 100%;
  height: 30vh;
  flex: 1;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput input:hover {
  transform: scale(1.005);
}

form button {
  padding: 0.5rem 2rem;
  color: white !important;
  background: rgba(241, 238, 238, 0.164) !important;
  border: none;
  border-radius: 1rem;
}
form button:hover {
  transform: scale(1.05);
  background-color: rgba(18, 18, 18, 0.164) !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.contactLink {
  display: none;
}

.imageCont,
.work0,
.work2 {
  animation: 2s ease-out 0s 1 slideInRight;
}
.aboutH1,
.name,
.work1,
.work3 {
  animation: 1s ease-out 0s 1 slideInLeft;
}

/* workContainer */
.workContainer {
  gap: 20px;
}
.workText {
  color: #fff;
  margin-top: 1rem;
}
.workText h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 5rem;
  font-family: "Noto Sans TC", sans-serif;
}
.work a span {
  letter-spacing: 2px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: 0.5s linear;
  text-decoration: none;
}

.work a:hover span:nth-child(1):after {
  content: "Go Live";
  color: red;
}
.work a:hover span:nth-child(2) {
  margin-left: 30px;
}

.workHover1 a span {
  letter-spacing: 2px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: 0.5s linear;
  text-decoration: none;
}

.workHover1 a:hover span:nth-child(1)::before {
  content: "Go Live ";
  color: red;
}
.workHover1 a:hover span:nth-child(2) {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .textContainer {
    margin-left: 0rem;
    padding: 2rem;
  }
  #h1 {
    font-size: 120px;
  }
  #h2 {
    font-size: 100px;
  }
  #h3 {
    font-size: 120px;
  }
  .sideBar {
    display: none;
  }
}
@media (max-width: 600px) {
  .textContainer {
    margin-left: 0rem;
    padding: 2rem;
  }
  #h1 {
    font-size: 100px;
  }
  #h2 {
    font-size: 100px;
  }
  #h3 {
    font-size: 100px;
  }
  .aboutH1 {
    height: 30vh;
  }
  .aboutH1 h1 {
    font-size: 30px;
    color: #fff;
    font-family: "Noto Sans TC", sans-serif;
  }
  .aboutText {
    padding: 2rem;
  }
  .aboutText h1 {
    font-size: 30px;
  }
  .aboutTextP1 {
    font-size: 20px;
  }
  .formInput {
    gap: 1rem;
  }
  .aboutContainer {
    padding-bottom: 2rem;
  }
  .sideBar {
    display: none;
  }
  .contactLink {
    display: flex;
  }
  .work a span {
    font-size: 15px;
  }
  .navContainer a {
    display: run-in;
  }
}
