@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Landingpage */
.textContainer {
  margin-left: 10rem;
  gap: 200rem;
  cursor: pointer;
}

#h1 {
  font-size: 150px;
  font-weight: 900;
  color: #fff;
}
#h2 {
  font-size: 150px;
  font-weight: 900;
  color: red;
}
#h3 {
  font-size: 150px;
  font-weight: 900;
  color: red;
}

.hide {
  display: none;
}

@media (max-width = 600px) {
  #h1 {
    font-size: 50px;
  }
  #h2 {
    font-size: 100px;
  }
  #h3 {
    font-size: 100px;
  }
}

/* About page */
.aboutContainer {
  padding-bottom: 10rem;
}
.gap {
  gap: 5rem;
}

.aboutH1 h1 {
  font-size: 100px;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutText {
  color: #fff;
}
.aboutText h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 8rem;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutTextP {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1rem;
  line-height: 2rem;
  font-size: 19px;
  font-family: "Noto Sans TC", sans-serif;
}
.aboutTextP1 {
  font-size: 30px;
}
